.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  color: #314659;
  font-weight: 400;
  line-height: 1.8;
  h1,
  h2 {
    border: none;
  }
  a {
    color: #1890ff;
  }
  code {
    margin: 0 0.2em;
  }
  table {
    display: table;
    border: none;
    tr,
    td,
    th {
      border-left: none;
      border-right: none;
      line-height: 3;
      text-align: left;
      background-color: #fff;
      border-color: #e8e8e8;
      font-size: 14px;
    }
    th {
      font-weight: normal;
      background: #fafafa;
    }
    tr > td:first-child {
      color: rgb(39, 70, 155);
    }
    tr > td:nth-child(3) {
      color: #c41d7f;
    }
  }
}

.markdown-body:first-child:not(:last-child) {
  padding-bottom: 0;
}

.markdown-body:not(:last-child) {
  padding-bottom: 0;
  margin-bottom: 24px;
}

.markdown-body:not(:first-child) {
  padding-top: 0;
}
