.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  color: #314659;
  font-weight: 400;
  line-height: 1.8;
  h1,
  h2 {
    border: none;
  }
  a {
    color: #1890ff;
  }
  code {
    margin: 0 0.2em;
  }
}

.markdown-body:first-child:not(:last-child) {
  padding-bottom: 0;
}

.markdown-body:not(:last-child) {
  padding-bottom: 0;
  margin-bottom: 24px;
}

.markdown-body:not(:first-child) {
  padding-top: 0;
}
